{% extends 'base.html' %}

{% block title %}Read more{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Main Post Content -->
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ post.created }} by {{ request.user.username }}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.category }}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    <center><img class="img-fluid rounded" src="{{ post.img.url }}" alt="..." width="900"/></center>
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.body|linebreaks }}</p>
                </section>
            </article>

            <!-- Comments section -->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form -->
                    {% if request.user.is_authenticated %}
                    <form class="mb-4" method="post">
                        {% csrf_token %}
                        {{ form.body }}
                        <button class="btn btn-primary mt-2">Drop Your Comment</button>
                    </form>
                    {% else %}
                    <p>You can <a href="{% url 'login' %}">login</a> to drop your comment.</p>
                    {% endif %}
                
                    <!-- Comments -->
                </div>
                {% for comment in comments %}
                <div class="d-flex mb-4">
                    <div class="ms-3">
                        <div class="fw-bold">{{ comment.user.username }}</div>
                        <p>{{ comment.body }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        </div>

        <!-- Related Posts Sidebar -->
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Related Posts</div>
                <div class="card-body">
                    {% for related in related_posts %}
                        <div class="related-post">
                            <h5><a href="{% url 'singlepage' related.slug %}">{{ related.title }}</a></h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        

    </div>
</div>
{% endblock %}
